<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#update-horno">Editar Horno</button>
        </div>
        <h2 *ngIf="horno" class="mb-0 text-center"> {{ horno.name }} </h2>

        <hr>

        <div class="d-flex justify-content-center flex-wrap gap-4">

            <div class="form-group mr-2">
                <label class="" for="">Desde</label>
                <input type="datetime-local" class="form-control" (change)="initial.value" #initial>
            </div>

            <div class="form-group mr-2">
                <label class="" for="">Hasta</label>
                <input type="datetime-local" class="form-control" (change)="end.value" #end>
            </div>

            <div class="form-group mr-2">
                <label class="selectIn" for="">Intervalo</label>
                <select #interval class="custom-select col-12" id="selectIn">
                    <option value="1">1 Minuto</option>
                    <option value="5">5 Minuto</option>
                    <option value="10">10 Minuto</option>
                    <option value="15">15 Minuto</option>
                    <option value="30">30 Minuto</option>
                    <option value="60">60 Minuto</option>
                </select>
            </div>

            <div class="col-auto ms-2 d-flex align-items-center">
                <button [disabled]="loadingExcel" type="button" class="btn btn-outline-success" (click)="exportar(initial.value, end.value, interval.value)"> 
                    <i class="fa fa-file-excel-o"></i> 
                    <span *ngIf="!loadingExcel">
                        Exportar 
                    </span>
                    <span *ngIf="loadingExcel">
                        Cargando...
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-around">

    <div class="col-md-6">

        <div class="card mb-0">
            <div class="d-flex flex-row">
                <div class="p-10 bg-danger">
                    <h3 class="text-white box m-b-0"><i class="fa fa-thermometer"></i></h3>
                </div>
                <div class="align-self-center m-l-20">
                    <h3 class="m-b-0 text-danger">Termocupla</h3>
                    <h5 *ngIf="horno" class="text-muted m-b-0">Codigo {{ horno.alta.code }} </h5>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <div class="col-12">
                    <canvas baseChart height="400" [type]="'line'" [data]="lineChartDataAlta" [options]="lineChartOptions" [legend]="lineChartLegend">
                    </canvas>
                </div>

                <h2 class="mb-0">Termocupla Alta</h2>



                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Temperatura</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="altas.length === 0">
                                <td colspan="7">
                                    <h3 class="mb-0 text-center"> Aun no existen registros de temperaturas Altas</h3>
                                </td>
                            </tr>

                            <ng-container *ngIf="altas.length > 0">

                                <tr *ngFor="let alta of altas">
                                    <td class="align-middle">
                                        <span *ngIf="alta.estado">  
                                            <i *ngIf="alta.estado === 'Normal'" class="text-success mdi mdi-check"></i>
                                            <i *ngIf="alta.estado === 'Anormal'" class="text-warning mdi mdi-alert-outline"></i>
                                        </span> {{ alta.fecha | date:'medium' }}
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0 text-right">
                                            {{ alta.temperatura }}°
                                            <button type="button" (click)="changeEstado(alta, 'Alta')" class="btn btn-sm btn-icon btn-pure btn-outline text-primary" data-toggle="Actualizar estado" data-original-title="Delete"><i class="mdi mdi-refresh" aria-hidden="true"></i></button>
                                        </p>
                                    </td>

                                </tr>

                            </ng-container>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="card mb-0">
            <div class="d-flex flex-row">
                <div class="p-10 bg-info">
                    <h3 class="text-white box m-b-0"><i class="fa fa-thermometer-1"></i></h3>
                </div>
                <div class="align-self-center m-l-20">
                    <h3 class="m-b-0 text-info"> Termocupla </h3>
                    <h5 *ngIf="horno" class="text-muted m-b-0">Codigo {{ horno.baja.code }} </h5>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <div class="col-12">
                    <canvas baseChart height="400" [type]="'line'" [data]="lineChartDataBaja" [options]="lineChartOptions" [legend]="lineChartLegend">
                </canvas>
                </div>

                <h2 class="mb-0">Termocupla Baja</h2>

                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Temperatura</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="bajas.length === 0">
                                <td colspan="7">
                                    <h3 class="mb-0 text-center"> Aun no existen registros de temperaturas Bajas</h3>
                                </td>
                            </tr>

                            <ng-container *ngIf="bajas.length > 0">

                                <tr *ngFor="let baja of bajas">
                                    <td class="align-middle">
                                        <span *ngIf="baja.estado">  
                                            <i *ngIf="baja.estado === 'Normal'" class="text-success mdi mdi-check"></i>
                                            <i *ngIf="baja.estado === 'Anormal'" class="text-warning mdi mdi-alert-outline"></i>
                                        </span> {{ baja.fecha | date:'short' }}
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0 text-right">
                                            {{ baja.temperatura }}°
                                            <button type="button" (click)="changeEstado(baja, 'Baja')" class="btn btn-sm btn-icon btn-pure btn-outline text-primary" data-toggle="Actualizar estado" data-original-title="Delete"><i class="mdi mdi-refresh" aria-hidden="true"></i></button>
                                        </p>
                                    </td>

                                </tr>

                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- ========================================================= 
MODAL CREAR CENTRO DE VOTACIÖN 
======================================================== -->
<div id="update-horno" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabelNewCenter" aria-hidden="true" #modalNewUser>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabelNewCenter">Editar Horno</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal form-material" autocomplete="off" [formGroup]="formHorno" (ngSubmit)="updateHorno()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 mb-3">
                            <input formControlName="name" type="text" class="form-control" placeholder="Nombre del horno">
                            <div *ngIf="validate('name')" class="form-control-feedback">
                                <small> El nombre del horno es importante </small>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Seleccionar termocupla de Baja</label>
                        <select formControlName="baja" class="form-control">
                            <option value="none">Seleccionar termocupla</option>
                            <option *ngFor="let termometro of termometros" [value]="termometro.tid" > {{ termometro.code }} </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Seleccionar termocupla de Alta</label>
                        <select formControlName="alta" class="form-control">
                            <option value="none">Seleccionar termocupla</option>
                            <option *ngFor="let termometro of termometros" [value]="termometro.tid" > {{ termometro.code }} </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>