<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de Termocuplas</h4>
                <h6 class="card-subtitle">Crea y visualiza todos los Termocuplas</h6>

                <div class="row m-t-40">

                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white"> {{ total }} </h1>
                                <h6 class="text-white">Termocuplas</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->

                </div>

                <!-- SEARCH BTN NEW -->
                <div class="d-flex justify-content-between flex-wrap mt-1">
                    

                    <div class="my-2">

                        <div>
                            <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-termometro">Crear Termocupla</button>
                        </div>

                        <label for="mostrar" class="my-2">Mostrar: </label>
                        <select name="" id="" [value]="query.hasta" #mostrar (change)="limiteChange(mostrar.value)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                        </select>

                    </div>
                </div>
                <!-- SEARCH BTN NEW -->

                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Codigo</th>
                                <th>Estado</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="termometros.length === 0">
                                <td colspan="7">
                                    <h3 class="mb-0 text-center"> Aun no existen registros de termocuplas... </h3>
                                </td>
                            </tr>

                            <ng-container *ngIf="termometros.length > 0">

                                <tr *ngFor="let termometro of termometros; let i = index">
                                    <td> {{ i + 1 }} </td>
                                    <td class="align-middle">
                                        <a [routerLink]="['/dashboard/centro', termometro.tid ]" class="text-decoration-none text-info pointer">
                                            {{ termometro.code }} 
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <span *ngIf="!termometro.status" class="label label-danger"> Deshabilitado </span>
                                        <span *ngIf="termometro.status" class="label label-success"> Habilitado </span>
                                    </td>
                                    <td class="align-middle">

                                        <a class="text-decoration-none text-info pointer">
                                            <i class="mdi mdi-call-made"></i>
                                        </a>
                                    </td>
                                </tr>

                            </ng-container>



                        </tbody>
                        <tfoot>
                            <tr>

                                <td colspan="7">
                                    <div class="btn-group" role="group" aria-label="First group">
                                        <button [disabled]="query.desde === 0" (click)="cambiarPagina(-10)" type="button" class="btn btn-dark text-white">Atras</button>
                                        <button [disabled]="( query.desde + query.hasta ) >= total" (click)="cambiarPagina(10)" type="button" class="btn btn-dark text-white">Siguiente</button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->

<!-- ========================================================= 
MODAL CREAR CENTRO DE VOTACIÖN 
======================================================== -->
<div id="add-termometro" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabelNewCenter" aria-hidden="true" #modalNewUser>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabelNewCenter">Nueva Termocupla</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal form-material" autocomplete="off" [formGroup]="formNewTermometro" (ngSubmit)="createTermometro()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 m-b-20">
                            <input formControlName="code" type="text" class="form-control" placeholder="Codigo de la termocupla">
                            <div *ngIf="validate('code')" class="form-control-feedback">
                                <small> El codigo de la termocupla es importante </small>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>